.container {
  max-width: 65%;
  margin: 40px auto;
  font-family: Arial, sans-serif;
}

.question-section {
  padding: 15px;
  border-bottom: 2px solid #ddd;
}

.question-title {
  font-size: 20px;
  font-weight: bold;
}

.question-text {
  font-size: 16px;
  color: #333;
}

.question-link {
  color: #242121;
  text-decoration: none;
  font-size: 14px;
}

.answer-section {
  padding: 15px;
}

.answer-title {
  font-size: 18px;
  font-weight: bold;
}

.answer-box {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.answer-text p {
  font-size: 16px;
  color: #333;
  margin: 0;
}

.username {
  font-size: 14px;
  color: #777;
}

/* answer input section */
.ans-form-container {
  text-align: center;
  padding: 20px;
  /* max-width: 800px;
  margin: 40px auto; */
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.ans-form-container h3 {
  margin-bottom: 5px;
}

.go-to-questions {
  font-size: 14px;
  cursor: pointer;
  margin-bottom: 20px;
}

/* Input Fields */

.ans-textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  height: 100px;
}

/* Submit Button */
.ans-submit-btn {
  padding: 10px 15px;
  background-color: #007bff;
  border: none;
  color: white;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.ans-submit-btn:hover {
  background-color: #0056b3;
}

@media (max-width: 600px) {
  .ans-container {
    width: 90%;
  }

  .ans-textarea {
    font-size: 14px;
  }

  .ans-submit-btn {
    font-size: 14px;
  }
}
