.landingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f5f5f5;
  padding: 0 10%;
}

.authContainer {
  position: relative;
  width: 50%;
  height: 500px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  background: white;
}

.authSlide {
  display: flex;
  width: 200%;
  height: 100%;
  transition: transform 0.6s ease-in-out;
}

.authContent {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* When Login is Active */
.showLogin {
  transform: translateX(0%);
}

/* When Register is Active */
.showRegister {
  transform: translateX(-50%);
}

.aboutContainer {
  width: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
